.env
venv/
data/knowledge_base/

__pycache__/
.ipynb_checkpoints/
*.pyc
*.log
.coverage
*.out
*.tmp
.idea/
.DS_Store
Thumbs.db
*~
*.egg
*.egg-info/
Pipfile.lock
poetry.lock
Dockerfile
docker-compose.yml
.env.local
.coveragerc
migrations/
.cache/
.mypy_cache/
docs/_build/
.vscode/
*.ipynb
